<table class="responsive-table">
  <thead>
    <tr>
      <th>ATT #</th>
      <th>LAST NAME</th>
      <th>FIRST NAME</th>
      <th>DATE</th>
      <th>SEMESTER</th>
      <th>SCHEDULE</th>
      <th>ATT. START</th>
      <th>TIME IN</th>
      <th>STATUS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Villanueva</td>
      <td>Mark</td>
      <td>March 5, 2023</td>
      <td>2nd Semester</td>
      <td>7:30:00 AM</td>
        <td>-- --</td>
        <td>-- --</td>
      <td>
        <select id="mySelect">
          <option value="pending" class="late-box">Pending</option>
          <option value="not-valid" class="absent-box">Present</option>
          <option value="valid" class="present-box">Absent</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>Valera</td>
      <td>Anthony</td>
      <td>March 5, 2023</td>
      <td>2nd Semester</td>
      <td>7:30:00 AM</td>
        <td>-- --</td>
        <td>-- --</td>
      <td>
        <select id="mySelect">
          <option value="pending" class="late-box">Pending</option>
          <option value="not-valid" class="absent-box">Present</option>
          <option value="valid" class="present-box">Absent</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>Martin</td>
      <td>Gabriel</td>
      <td>March 5, 2023</td>
      <td>2nd Semester</td>
      <td>7:30:00 AM</td>
        <td>-- --</td>
        <td>-- --</td>
      <td>
        <select id="mySelect">
          <option value="pending" class="late-box">Pending</option>
          <option value="not-valid" class="absent-box">Present</option>
          <option value="valid" class="present-box">Absent</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>4</td>
      <td>Swift</td>
      <td>Michael</td>
      <td>March 5, 2023</td>
      <td>2nd Semester</td>
      <td>7:30:00 AM</td>
        <td>-- --</td>
        <td>-- --</td>
      <td>
        <select id="mySelect">
          <option value="pending" class="late-box">Pending</option>
          <option value="not-valid" class="absent-box">Present</option>
          <option value="valid" class="present-box">Absent</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>5</td>
      <td>Dalisay</td>
      <td>Nash</td>
      <td>March 5, 2023</td>
      <td>2nd Semester</td>
      <td>7:30:00 AM</td>
        <td>-- --</td>
        <td>-- --</td>
      <td>
        <select id="mySelect">
          <option value="pending" class="late-box">Pending</option>
          <option value="not-valid" class="absent-box">Present</option>
          <option value="valid" class="present-box">Absent</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>6</td>
      <td>Lopez</td>
      <td>Jhorel</td>
      <td>March 5, 2023</td>
      <td>2nd Semester</td>
      <td>7:30:00 AM</td>
        <td>-- --</td>
        <td>-- --</td>
      <td>
        <select id="mySelect">
          <option value="pending" class="late-box">Pending</option>
          <option value="not-valid" class="absent-box">Present</option>
          <option value="valid" class="present-box">Absent</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>7</td>
      <td>Curtis</td>
      <td>Troy</td>
      <td>March 5, 2023</td>
      <td>2nd Semester</td>
      <td>7:30:00 AM</td>
        <td>-- --</td>
        <td>-- --</td>
      <td>
        <select id="mySelect">
          <option value="pending" class="late-box">Pending</option>
          <option value="not-valid" class="absent-box">Present</option>
          <option value="valid" class="present-box">Absent</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>8</td>
      <td>Navarro</td>
      <td>Ero</td>
      <td>March 5, 2023</td>
      <td>2nd Semester</td>
      <td>7:30:00 AM</td>
        <td>-- --</td>
        <td>-- --</td>
      <td>
        <select id="mySelect">
          <option value="pending" class="late-box">Pending</option>
          <option value="not-valid" class="absent-box">Present</option>
          <option value="valid" class="present-box">Absent</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>9</td>
      <td>Ponciano</td>
      <td>Takeshi</td>
      <td>March 5, 2023</td>
      <td>2nd Semester</td>
      <td>7:30:00 AM</td>
        <td>-- --</td>
        <td>-- --</td>
      <td>
        <select id="mySelect">
          <option value="pending" class="late-box">Pending</option>
          <option value="not-valid" class="absent-box">Present</option>
          <option value="valid" class="present-box">Absent</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>10</td>
      <td>De Leon</td>
      <td>Aaron</td>
      <td>March 5, 2023</td>
      <td>2nd Semester</td>
      <td>7:30:00 AM</td>
        <td>-- --</td>
        <td>-- --</td>
      <td>
        <select id="mySelect">
          <option value="pending" class="late-box">Pending</option>
          <option value="not-valid" class="absent-box">Present</option>
          <option value="valid" class="present-box">Absent</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>15</td>
      <td>Lopez</td>
      <td>Jobert</td>
      <td>March 5, 2023</td>
      <td>2nd Semester</td>
      <td>7:30:00 AM</td>
        <td>-- --</td>
        <td>-- --</td>
      <td>
        <select id="mySelect">
          <option value="pending" class="late-box">Pending</option>
          <option value="not-valid" class="absent-box">Present</option>
          <option value="valid" class="present-box">Absent</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>16</td>
      <td>Santos</td>
      <td>Denise</td>
      <td>March 5, 2023</td>
      <td>2nd Semester</td>
      <td>7:30:00 AM</td>
        <td>-- --</td>
        <td>-- --</td>
      <td>
        <select id="mySelect">
          <option value="pending" class="late-box">Pending</option>
          <option value="not-valid" class="absent-box">Present</option>
          <option value="valid" class="present-box">Absent</option>
        </select>
      </td>
    </tr>
  </tbody>
</table>

<body>
  <button onclick="window.location.href='/login'" class="back-buttons bn22">Cancel</button>
  <a href="/"><button class="bn632-hover bn22">Finish Attendance</button></a>
</body>
