<div class="content">
  <div class="card1">
    <div class="card1-content">
      <div class="card1-image" style="background-image: url('../../../assets/images/CARD_BG.png')"> </div>
      <form class="card1-form">
        <h2>Add Student</h2>
        <div class="dropdown">
          <select id="courseDropdown">
            <option value="BSCS">All Student </option>
            <option value="BSIT">BSCS 1</option>
            <option value="BSIT">BSCS 2</option>
            <option value="BSIT">BSCS 3</option>
            <option value="BSIT">BSCS 4</option>
            <option value="BSIT">BSIT 1</option>
            <option value="BSIT">BSIT 2</option>
            <option value="BSIT">BSIT 3</option>
            <option value="BSIT">BSIT 4</option>
            
          </select>
          <button class="primary" onclick=";">ADD</button>
        </div>
        <div>
          <input type="text" id="searchInput" placeholder="Student Name" />
        </div>
        <table class="responsive-table">
          <thead>
            <tr>
              <th>LAST NAME</th>
              <th>FIRST NAME</th>
              <th>DEP</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Soriano</td>
              <td>Juan</td>
              <td>BSCS 2</td>
              <td>
                <div class="primary-container">
              <button class="addButton" onclick=";">ADD</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
  <div class="card1">
    <div class="card1-content">
      <div class="card1-image" style="background-image: url('../../../assets/images/CARD_BG.png');">
      </div>
      
      <form class="card1-form">
        <h2>Attendance Mode</h2>
        <div class="action">
          <button class="action-button" (click)="navigateToStartAttendance()">Start RFID Attendance</button>
        </div>
        <div class="action">
          <button class="action-button" (click)="navigateToStartManualAttendance()">Start Manual Attendance</button>
        </div>
      </form>
    </div>
  </div>


  <div class="dropdown-container" style="margin-top: 15px;">
      <table class="responsive-table">
        <thead>
          <tr>
            <th><button id="prevBtn" style="color: white;">Previous</button></th>
            <th colspan="5" style="text-align: center; font-weight: bold; font-size: 22px;">CLASS NOTIFICATIONS</th>
            <th><button id="nextBtn" style="color: white;">Next</button></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let notification of notifications">
            <td style="width: 70px; height: 70px;">
              <img [src]="notification.picture" style="width: 65px; height: 60px; object-fit: cover; border-radius: 50%;" alt="Circle Image">
                                </td>
            <td>{{notification.lastName}}</td>
            <td>{{notification.firstName}}</td>
            <td>{{notification.numberOfClass}}</td>
            <td>{{notification.rfid}}</td>
          <td><div class="primary-container">
           <button class="primary" (click)="navigateToStudentProfile()">Accept</button>
          </div>
        </td>
        <td><div class="primary-container">

          <button id="declineButton">Decline</button>
         </div>
       </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>


<div class="content-main">
  <div class="card-grid">
    <div class="row">
      <div class="col-sm-12">
        <div class="dropdown-container">
          <div class="dropdown">
            <select id="courseDropdown">
              <option value="BSCS">All Data</option>
              <option value="BSIT">Monday | February 23, 2024 : 7:00:02 PM</option>
              <option value="BSIT">Monday | February 23, 2024 : 4:30:23 PM</option>
              <option value="BSIT">Monday | February 23, 2024 : 1:00:52 PM</option>
              <option value="BSIT">Monday | February 23, 2024 : 10:00:12 AM</option>
              <option value="BSIT">Monday | February 23, 2024 : 9:00:34 AM</option>
              <option value="BSIT">Monday | February 23, 2024 : 7:00:23 AM</option>
            </select>
          </div>
          <div class="dropdown">
            <select id="courseDropdown">
              <option value="BSCS">All Data</option>
            <option value="BSIT">Present</option>
            <option value="BSIT">Late</option>
            <option value="BSIT">Absent</option>
            </select>
          </div>
          <div>
            <input type="text" id="searchInput" placeholder="Student Name" />
          </div>
          <div class="mydict">
            <div>
              <label>
                <input type="radio" name="radio" checked />
                <span>PDF</span>
              </label>
              <label>
                <input type="radio" name="radio" />
                <span>Excel</span>
              </label>
              <label>
                <input type="radio" name="radio" />
                <span>PNG</span>
              </label>
              <button id="exportButton" (click)="exportData()">Export</button>
            </div>
          </div>
        </div>
        <div>
          <div class="dropdown-container" style="margin-top: 15px;">
          <table class="responsive-table">
            <thead>
              <tr>
                <th>ATT #</th>
                <th>LAST NAME</th>
                <th>FIRST NAME</th>
                <th>DATE</th>
                <th>SEMESTER</th>
                <th>SCHEDULE</th>
                <th>TIME IN</th>
                <th>STATUS</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let student of students">
                <td>{{student.id}}</td>
                <td>{{student.lastName}}</td>
                <td>{{student.numberOfClass}}</td>
                <td>{{student.rfid}}</td>
                <td>{{student.mobile}}</td>
                <td>{{student.domainEmail}}</td>
                <td>{{student.altEmail}}</td>
                <td>
                  <div class="present-box">Present</div>
                </td>
                <td>
                  <select id="mySelect">
                                        <option value="pending" class="late-box">Pending</option>
<option value="Verified" class="present-box">Verified</option>
                    <option value="not-valid" class="absent-box">Not Valid</option>
                    <option value="valid" class="present-box">Valid</option>
                  </select>
              </td>
              <div class="primary-container">
               <button class="primary" (click)="navigateToStudentProfile()">View</button>
              </div>

            </tbody>
          </table>
        </div>
      </div>
      <div class="pagination">
        <button  id="prevBtn">Previous</button>
        <span>Page 1 of 1</span>
        <button id="nextBtn">Next</button>
      </div>  
      
    </div>
  
  </div>
</div>
