.Desktop2 {
  width: 1600px;
  height: 1393px;
  position: relative;
  background: white;
}

.Cardbackground {
  width: 1560px;
  height: 1366px;
  left: 20px;
  top: 9px;
  position: absolute;
  background: white;
  box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
}

.Group1 {
  width: 335.93px;
  height: 219.80px;
  left: 71px;
  top: 709.20px;
  position: absolute;
}

.Rectangle4 {
  width: 335.93px;
  height: 219.80px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: white;
  box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
}

.CardBg2 {
  width: 192px;
  height: 193px;
  left: 10px;
  top: 11.80px;
  position: absolute;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}