<div class="desktop-3">
  <div class="body"></div>
  <div class="card-1">
    <div class="card"></div>
    <img class="rectangle-233" src="../../../assets/images/CARD_BG.png" />
    <div class="_230">230</div>
    <div class="total-classes">Total Classes</div>
  </div>
  <div class="card-2">
    <div class="rectangle-253"></div>
    <img class="rectangle-2332" src="../../../assets/images/CARD_BG.png" />
    <div class="_2302">230</div>
    <div class="total-classes2">Total Classes</div>
  </div>
  <div class="card-3">
    <div class="rectangle-254"></div>
    <img class="rectangle-2333" src="../../../assets/images/CARD_BG.png" />
    <div class="_2303">230</div>
    <div class="total-classes3">Total Classes</div>
  </div>
  <div class="notification">
    <div class="rectangle-245"></div>
    <div class="notif-body">
      <table class="custom-table">
        <tr *ngFor="let notifDashboard of notifDashboardsData.slice(0, 8)">
          <td style="width: 70px; height: 70px">
            <img
             [src]="notifDashboard.picture"
              style="width: 65px; height: 60px; object-fit: cover; border-radius: 50%"
              alt="Circle Image"
            />
          </td>
          <td>{{ notifDashboard.lastName }}</td>
          <td>{{ notifDashboard.firstName }}</td>
          <td>{{ notifDashboard.domainEmail }}</td>
          <td>{{ notifDashboard.mobile }}</td>
          <td
            ><div class="primary-container">
              <a href="#popup1" class="popup">Resolve Problem</a>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="notif-header"></div>
    <div class="system-notifications">System Notifications</div>
  </div>
  <div class="log-notif2">
    <div class="rectangle-247"></div>
    <div class="log-body">
      <table class="custom-table">
        <tr *ngFor="let logDashboard of logDashboardsData.slice(0, 6)">
          <td style="width: 100px; height: 100px">
            <img
            [src]="logDashboard.picture"
            style="width: 65%; height: 60%; object-fit: cover; border-radius: 50%"
            alt="Circle Image"
            />
          </td>
          <td>{{ logDashboard.lastName }}</td>
          <td>{{ logDashboard.mobile }}</td>
          <td>{{ logDashboard.mobile }}</td>
        </tr>
      </table>
    </div>
    <div class="log-header"></div>
    <div class="log-notifications">Log Notifications</div>
  </div>
</div>
