.desktop-3,
.desktop-3 * {
  box-sizing: border-box;
}
.desktop-3 {
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.cards {
  position: absolute;
  inset: 0;
}
.card-1 {
  width: 491.08px;
  height: 233.07px;
  position: static;
}
.card {
  background: #ffffff;
  border-radius: 15px;
  width: 491.08px;
  height: 233.07px;
  position: absolute;
  left: 4.14px;
  top: 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-233 {
  border-radius: 15px;
  width: 458.82px;
  height: 204.72px;
  position: absolute;
  left: 19.33px;
  top: 13.65px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}
._230 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 37px;
  font-weight: 700;
  position: absolute;
  left: 54.94px;
  top: 116.53px;
  width: 170.91px;
  height: 56.69px;
}
.total-classes {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: absolute;
  left: 54.94px;
  top: 161.68px;
  width: 170.91px;
  height: 56.69px;
}
.card-2 {
  width: 491.08px;
  height: 233.07px;
  position: static;
}
.rectangle-253 {
  background: #ffffff;
  border-radius: 15px;
  width: 491.08px;
  height: 233.07px;
  position: absolute;
  left: 542.89px;
  top: 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-2332 {
  border-radius: 20px;
  width: 458.82px;
  height: 204.72px;
  position: absolute;
  left: 560.07px;
  top: 13.65px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}
._2302 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 37px;
  font-weight: 700;
  position: absolute;
  left: 595.68px;
  top: 116.53px;
  width: 170.91px;
  height: 56.69px;
}
.total-classes2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: absolute;
  left: 595.68px;
  top: 161.68px;
  width: 170.91px;
  height: 56.69px;
}
.card-3 {
  width: 491.08px;
  height: 233.07px;
  position: static;
}
.rectangle-254 {
  background: #ffffff;
  border-radius: 15px;
  width: 491.08px;
  height: 233.07px;
  position: absolute;
  left: 1084.74px;
  top: 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-2333 {
  border-radius: 20px;
  width: 458.82px;
  height: 204.72px;
  position: absolute;
  left: 1100.81px;
  top: 13.65px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}
._2303 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 37px;
  font-weight: 700;
  position: absolute;
  left: 1136.42px;
  top: 116.53px;
  width: 170.91px;
  height: 56.69px;
}
.total-classes3 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: absolute;
  left: 1136.42px;
  top: 161.68px;
  width: 170.91px;
  height: 56.69px;
}
.notifications {
  position: absolute;
  inset: 0;
}
.notification {
  width: 954.19px;
  height: 750.64px;
  position: static;
}
.rectangle-245 {
  background: #ffffff;
  border-radius: 10px;
  width: 954.19px;
  height: 750.64px;
  position: absolute;
  left: 626.81px;
  top: 260.36px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.notif-body {
  background: #ffffff;
  border-radius: 10px;
  width: 906.54px;
  height: 632.01px;
  position: absolute;
  left: 650.63px;
  top: 351.7px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.notif-header {
  background: linear-gradient(
    90deg,
    rgba(23, 100, 35, 1) 0%,
    rgba(27, 137, 45, 1) 93.99999976158142%
  );
  border-radius: 10px 10px 0px 0px;
  width: 906.54px;
  height: 74.54px;
  position: absolute;
  left: 649.6px;
  top: 277.16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.system-notifications {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 25px;
  font-weight: 700;
  position: absolute;
  left: 902.39px;
  top: 300.26px;
  width: 430.99px;
  height: 47.24px;
}
.log-notif {
  position: absolute;
  inset: 0;
}
.log-notif2 {
  width: 584.33px;
  height: 750.64px;
  position: static;
}
.rectangle-247 {
  background: #ffffff;
  border-radius: 10px;
  width: 584.33px;
  height: 750.64px;
  position: absolute;
  left: 0px;
  top: 260.36px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.log-body {
  background: #ffffff;
  border-radius: 10px;
  width: 547.03px;
  height: 632.01px;
  position: absolute;
  left: 20.72px;
  top: 354.85px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.log-header {
  background: linear-gradient(
    90deg,
    rgba(23, 100, 35, 1) 0%,
    rgba(27, 137, 45, 1) 93.99999976158142%
  );
  border-radius: 10px 10px 0px 0px;
  width: 547.03px;
  height: 74.54px;
  position: absolute;
  left: 20.72px;
  top: 280.31px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.log-notifications {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 25px;
  font-weight: 700;
  position: absolute;
  left: 76.67px;
  top: 304.45px;
  width: 430.99px;
  height: 47.24px;
}



//table

.custom-table {
  width: 100%;
  border-collapse: collapse;
  color: black;
}

.custom-table th,
.custom-table td {
  padding: 8px;
  text-align: center;
  color: black;
}

.custom-table th {
  color: black;
}
