<div class="admin-page">

  <!-- User Cards -->

  <div class="card-1">
    <div class="card"></div>
    <img class="rectangle-233" src="../../../assets/images/CARD_BG.png" />
    <div class="_230">230</div>
    <div class="total-classes">Total Classes</div>
  </div>
  <div class="card-2">
    <div class="rectangle-253"></div>
    <img class="rectangle-2332" src="../../../assets/images/CARD_BG.png" />
    <div class="_2302">230</div>
    <div class="total-classes2">Total Classes</div>
  </div>
  <div class="card-3">
    <div class="rectangle-254"></div>
    <img class="rectangle-2333" src="../../../assets/images/CARD_BG.png" />
    <div class="_2303">230</div>
    <div class="total-classes3">Total Classes</div>
  </div>

  <!-- System Notifications -->

  <div class="notification">
    <div class="rectangle-245"></div>
    <div class="notif-body">
      <table class="custom-table">
        <tr *ngFor="let notifDashboard of notifDashboardsData.slice(0, 8)">
          <td style="width: 70px; height: 70px">
            <img
             [src]="notifDashboard.picture"
              style="width: 65px; height: 60px; object-fit: cover; border-radius: 50%"
              alt="Circle Image"
            />
          </td>
          <td>{{ notifDashboard.lastName }}</td>
          <td>{{ notifDashboard.firstName }}</td>
          <td>{{ notifDashboard.domainEmail }}</td>
          <td>{{ notifDashboard.mobile }}</td>
          <td
            ><div class="primary-container">
              <a href="#popup1" class="popup">Resolve Problem</a>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="notif-header"></div>
    <div class="system-notifications">System Notifications</div>
  </div>

  <!-- Log Notifications -->

  <div class="log-notif2">
    <div class="rectangle-247"></div>
    <div class="log-body">
      <table class="custom-table">
        <tr *ngFor="let logDashboard of logDashboardsData.slice(0, 6)">
          <td style="width: 100px; height: 100px">
            <img
            [src]="logDashboard.picture"
            style="width: 65%; height: 60%; object-fit: cover; border-radius: 50%"
            alt="Circle Image"
            />
          </td>
          <td>{{ logDashboard.lastName }}</td>
          <td>{{ logDashboard.mobile }}</td>
          <td>{{ logDashboard.mobile }}</td>
        </tr>
      </table>
    </div>
    <div class="log-header"></div>
    <div class="log-notifications">Log Notifications</div>
  </div>

  <!-- Calendar -->

  <div class="calendar2">
    <div class="rectangle-2472"></div>
    <div class="calendar-body">
      <div class="calendar">
        <div class="top">
          <label>
            <select class="month" name="months" size="1">
              <option class="mon" name="1">January</option>
              <option class="mon" name="2">February</option>
              <option class="mon" name="3">March</option>
              <option class="mon" name="4">April</option>
              <option class="mon" name="5">May</option>
              <option class="mon" name="6">June</option>
              <option class="mon" name="7">July</option>
              <option class="mon" name="8">August</option>
              <option class="mon" name="9">September</option>
              <option class="mon" name="10">October</option>
              <option class="mon" name="11">November</option>
              <option class="mon" name="12">December</option>
            </select>
          </label>
          <label>
            <select class="year" name="years" size="1">
              <option class="yer">2030</option>
              <option class="yer">2029</option>
              <option class="yer">2028</option>
              <option class="yer">2027</option>
              <option class="yer">2026</option>
              <option class="yer">2025</option>
              <option class="yer">2024</option>
              <option class="yer">2023</option>
              <option class="yer">2022</option>
              <option class="yer">2021</option>
              <option class="yer">2020</option>
              <option class="yer">2019</option>
              <option class="yer">2018</option>
              <option class="yer">2017</option>
              <option class="yer">2016</option>
            </select>
          </label>
        </div>
        <div class="week">
          <div class="week__day">Mon</div>
          <div class="week__day">Tues</div>
          <div class="week__day">Weds</div>
          <div class="week__day">Thurs</div>
          <div class="week__day">Fri</div>
          <div class="week__day">Sat</div>
          <div class="week__day">Sun</div>
        </div>
        <div class="date">
          <div class="date__row">
            <div class="date__number">1</div>
            <div class="date__number">2</div>
            <div class="date__number">3</div>
            <div class="date__number">4</div>
            <div class="date__number">5</div>
            <div class="date__number">6</div>
            <div class="date__number">7</div>
          </div>
          <div class="date__row">
            <div class="date__number">8</div>
            <div class="date__number">9</div>
            <div class="date__number">10</div>
            <div class="date__number">11</div>
            <div class="date__number">12</div>
            <div class="date__number">13</div>
            <div class="date__number">14</div>
          </div>
          <div class="date__row">
            <div class="date__number">15</div>
            <div class="date__number">16</div>
            <div class="date__number">17</div>
            <div class="date__number">18</div>
            <div class="date__number">19</div>
            <div class="date__number">20</div>
            <div class="date__number">21</div>
          </div>
          <div class="date__row">
            <div class="date__number">22</div>
            <div class="date__number">23</div>
            <div class="date__number">24</div>
            <div class="date__number">25</div>
            <div class="date__number">26</div>
            <div class="date__number">27</div>
            <div class="date__number">28</div>
          </div>
          <div class="date__row">
            <div class="date__number">29</div>
            <div class="date__number">30</div>
            <div class="date__number">31</div>
            <div class="date__number"></div>
            <div class="date__number"></div>
            <div class="date__number"></div>
            <div class="date__number"></div>
          </div>
        </div>
      </div>
      <div class="choosen"></div>
    </div>
    <div class="calendar-header"></div>
    <div class="calendar3">Calendar</div>
  </div>

  <!-- Log Notifications -->
  
  <div class="rectangle-221"></div>
</div>
