
<body>
<table align="center" cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="transparent">
    
    <tr>
        <td>
            <table style="background-color: transparent; max-width:670px; margin:0 auto;" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="height:80px;">&nbsp;</td>
                </tr>
                <tr>
                    <td style="text-align:center;">
                        <div class="social-container">
                            <img src="../assets/images/fav_icon.png" class="social-icon" style="width: 40px; height: 40px; margin-left: 5px;" />
                            <img src="../assets/images/gc_ccs.png" class="social-icon" style="width: 43px; height: 43px; margin-right: -4px;" />
                            <img src="../../assets/images/OFFICIAL_LOGO.png" class="social-icon" style="width: 50px; height: 50px; margin-right: 5px; " />
                          </div>
                    </td>
                </tr>
                <tr>
                    <td style="height:20px;">&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" style="max-width:670px;background:#ffff; border-radius:3px; text-align:center;-webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);box-shadow:0 6px 18px 0 rgba(0,0,0,.06);">
                            <tr>
                                <td style="height:40px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="padding:0 35px;">
                                    <h1 style="color:#1e1e2d; font-weight:500; margin:0;font-size:32px;font-family:'Rubik',sans-serif;">Contact your Administrator</h1>
                                    <span style="display:inline-block; vertical-align:middle; margin:29px 0 26px; border-bottom:1px solid #cecece; width:100px;"></span>
                                    <p style="color:#455056; font-size:15px;line-height:24px; margin:0;">
                                        We're unable to provide your old password directly. Please provide your email so we can connect you with your system administrator. They will send you instructions on how to request assistance.
                                    </p>
                                    <div class="input-box" style="margin-bottom: 20px;">
                                        <input type="text" placeholder="Enter your email" required>
                                    </div>
                                    <button onclick="window.location.href='/login'" class="back-buttons bn23">Back</button>
        <a href="/"><button class="bn632-hover bn22">Send a Request</button></a>
                                </td>
                            </tr>
                            <tr>
                                <td style="height:40px;">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="height:20px;">&nbsp;</td>
                </tr>
                <tr>
                    <td style="height:80px;">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>