<!-- Vertical layout -->
<div class="navbar-content">

  <div class="profile-card-4 z-depth-3">
    <div class="card">
      <div class="card-body text-center rounded-top">
        <div class="user-box">
          <img src="../../../../assets/images/avatar-2.jpg" alt="user avatar" style="width: 100px; height: 100px; border-radius: 50%; border: 2px solid black;">
        </div>
        <h5 class="mb-1 text-dark" style="font-size: 18px; font-family: 'Roboto', sans-serif; font-weight: bold;">Cardo Dalisay</h5>
        <h6 class="text-dark" style="font-size: 18px; font-family: 'Roboto', sans-serif; font-weight: bold;">Student</h6>
        <div>
          <span>{{ currentTime | async | date: 'hh:mm:ss a' }}</span><br>
          <span>{{ currentDate | async | date: 'MMMM d, yyyy | EEEE' }}</span>            
        </div>
      </div>
    </div>
  </div>
  



  <ul class="nav coded-inner-navbar" (clickOutside)="fireOutClick()" (mouseleave)="navMob()">
    <ng-container *ngFor="let item of navigation">
      <app-nav-group *ngIf="item.type == 'group'" [item]="item"></app-nav-group>
      <app-nav-collapse *ngIf="item.type == 'collapse'" [item]="item"></app-nav-collapse>
      <app-nav-item *ngIf="item.type == 'item'" [item]="item"></app-nav-item>
    </ng-container>
  </ul>

</div>

<script>
window.addEventListener("load", () => {
  clock();
  function clock() {
    const today = new Date();

    // get time components
    const hours = today.getHours();
    const minutes = today.getMinutes();
    const seconds = today.getSeconds();

    //add '0' to hour, minute & second when they are less 10
    const hour = hours < 10 ? "0" + hours : hours;
    const minute = minutes < 10 ? "0" + minutes : minutes;
    const second = seconds < 10 ? "0" + seconds : seconds;

    //make clock a 12-hour time clock
    const hourTime = hour > 12 ? hour - 12 : hour;

    // if (hour === 0) {
    //   hour = 12;
    // }
    //assigning 'am' or 'pm' to indicate time of the day
    const ampm = hour < 12 ? "AM" : "PM";

    // get date components
    const month = today.getMonth();
    const year = today.getFullYear();
    const day = today.getDate();

    //declaring a list of all months in  a year
    const monthList = [
      "January",
      "February",
      "March",
      "April",
      "May",
      "June",
      "July",
      "August",
      "September",
      "October",
      "November",
      "December"
    ];

    //get current date and time
    const date = monthList[month] + " " + day + ", " + year;
    const time = hourTime + ":" + minute + ":" + second + ampm;

    //combine current date and time
    const dateTime = date + " - " + time;

    //print current date and time to the DOM
    document.getElementById("date-time").innerHTML = dateTime;
    setTimeout(clock, 1000);
  }
});
</script>