
h2{
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  padding: 30px 0;
}

/* Table Styles */

.table-wrapper {
  box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td, .fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}

.fl-table thead th {
  color: #ffffff;
  background: #19311f;
}

.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #19311f;
}

.fl-table tr:nth-child(even) {
  background: #F8F8F8;
}

/* Hover effect */
.fl-table tbody tr:hover {
  background-color: #d3d3d3; /* Change to desired hover color */
}

/* Responsive */
@media (max-width: 767px) {
  .fl-table {
      display: block;
      width: 100%;
  }
  .table-wrapper:before {
      content: "Scroll horizontally >";
      display: block;
      text-align: right;
      font-size: 11px;
      color: white;
      padding: 0 0 10px;
  }
  .fl-table thead, .fl-table tbody, .fl-table thead th {
      display: block;
  }
  .fl-table thead th:last-child {
      border-bottom: none;
  }
  .fl-table thead {
      float: left;
  }
  .fl-table tbody {
      width: auto;
      position: relative;
      overflow-x: auto;
  }
  .fl-table td, .fl-table th {
      padding: 20px .625em .625em .625em;
      height: 60px;
      vertical-align: middle;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
      width: 120px;
      font-size: 13px;
      text-overflow: ellipsis;
  }
  .fl-table thead th {
      text-align: left;
      border-bottom: 1px solid #f7f7f9;
  }
  .fl-table tbody tr {
      display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
      background: none;
  }
  .fl-table tr:nth-child(even) {
      background: transparent;
  }
  .fl-table tr td:nth-child(odd) {
      background: #F8F8F8;
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tr td:nth-child(even) {
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tbody td {
      display: block;
      text-align: center;
  }
}


/* Updated styles for dropdown container */
.dropdown-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9; /* Light background color */
  padding: 20px; /* Add padding for spacing */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  margin-top: 10px;
  margin-bottom: 10px;
}


/* Updated styles for dropdown */
.dropdown {
  flex: 1;
  margin-right: 10px;
}

.dropdown select {
  width: 100%;
  padding: 12px; /* Increased padding for better touch experience */
  border: none; /* Remove border for cleaner look */
  border-radius: 8px; /* Rounded corners */
  background-color: #fff; /* White background */
  font-size: 16px;
  appearance: none; /* Remove default dropdown arrow */
  outline: none; /* Remove default focus style */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  transition: box-shadow 0.3s ease; /* Smooth transition for shadow */
}

.dropdown select:hover,
.dropdown select:focus {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add deeper shadow on hover/focus */
}

/* Updated styles for label */
label {
  font-size: 18px; /* Increased font size for better readability */
  color: #333; /* Darker text color */
}

/* Updated styles for input */
input[type="text"] {
  width: 100%;
  padding: 12px; /* Increased padding for better touch experience */
  border: none; /* Remove border for cleaner look */
  border-radius: 8px; /* Rounded corners */
  background-color: #fff; /* White background */
  font-size: 16px;
  outline: none; /* Remove default focus style */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  transition: box-shadow 0.3s ease; /* Smooth transition for shadow */
}

input[type="text"]:hover,
input[type="text"]:focus {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add deeper shadow on hover/focus */
}




:root {
--vs-primary: 29 92 255;
}

/*Dialog Styles*/
dialog {
padding: 1rem 3rem;
background: white;
width: 1520px;
  height: 720px;
padding-top: 2rem;
border-radius: 20px;
border: 0;
box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
animation: fadeIn 1s ease both;
&::backdrop {
  animation: fadeIn 1s ease both;
  z-index: 2;
}
.x {
  filter: grayscale(1);
  border: none;
  position: absolute;
  top: 15px;
  right: 10px;
  transition: ease filter, transform 0.3s;
  cursor: pointer;
  transform-origin: center;
  &:hover {
    filter: grayscale(0);
    transform: scale(1.1);
  }
}
h2 {
  font-weight: 600;
  font-size: 2rem;
  padding-bottom: 1rem;
}
p {
  font-size: 1rem;
  line-height: 1.3rem;
  padding: 0.5rem 0;
  a {
    &:visited {
      color: rgb(var(--vs-primary));
    }
  }
}
}

/*General Styles*/
body {
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
font-family: Poppins, sans-serif;
background-size: cover;
}
button.primary {
display: inline-block;
font-size: 0.8rem;
color: black !important;
border-radius: 17px;
transition: background-color 0.1s ease;
box-sizing: border-box;
transition: all 0.25s ease;
border: 0;
cursor: pointer;
box-shadow: 0 10px 20px -10px rgb(var(--vs-primary) / 50%);
&:hover {
  box-shadow: 0 20px 20px -10px rgb(var(--vs-primary) / 50%);
  transform: translateY(-5px);
}
}

@keyframes fadeIn {
from {
  opacity: 0;
}
to {
  opacity: 1;
}
}



body {
  font-family: tahoma;
  height: 100vh;
  background-position: center;
  display: flex;
  align-items: center;
}

.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: rgb(255, 255, 255);
  border-color: #333;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #043d22;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #043d22;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #043d22;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #043d22;
  background-color: #f7f5ec;
}

.view-selector button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.view-selector button:hover {
  background-color: #45a049;
}
