<div class="view-selector">
 <button (click)="showTilesView()">View in Tiles</button>
 <button (click)="showTableView()">View in Tables</button>
</div>

<!-- Tiles View -->
<div *ngIf="isTilesView">
 <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let instructor of instructors">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" [src]="instructor.picture">
        </div>
        <div class="team-content">
          <h3 class="name">{{ instructor.firstName }} {{ instructor.lastName }}</h3>
          <h4 class="title">{{ instructor.domainEmail }}</h4>
        </div>
      </div>
    </div>
 </div>
</div>

<!-- Table View -->
<div *ngIf="!isTilesView">
 <div class="row">
    <div class="col-sm-12">
      <div class="dropdown-container">
        <input type="text" id="searchInput" name="lastname" [(ngModel)]="lastName" (ngModelChange)="Search()" placeholder="Search Instructor">
      </div>
    </div>
 </div>
 <div class="dropdown-container">
    <table class="fl-table">
      <thead>
        <tr>
          <th>DB #</th>
          <th>LAST NAME</th>
          <th>FIRST NAME</th>
          <th>MIDDLE NAME</th>
          <th>NO. OF CLASS</th>
          <th>RFID #</th>
          <th>MOBILE #</th>
          <th>DOMAIN EMAIL</th>
          <th>ALT EMAIL</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let instructor of instructors">
          <td>{{ instructor.id }}</td>
          <td>{{ instructor.lastName }}</td>
          <td>{{ instructor.firstName }}</td>
          <td>{{ instructor.middleName }}</td>
          <td>{{ instructor.numberOfClass }}</td>
          <td>{{ instructor.rfid }}</td>
          <td>{{ instructor.mobile }}</td>
          <td>{{ instructor.domainEmail }}</td>
          <td>{{ instructor.altEmail }}</td>
          <td class="action-buttons">
            <button class="primary" onclick="window.dialog.showModal();">View</button>
            <button class="primary" onclick=";">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
 </div>
</div>