<div class="desktop-2">
  <div class="card-background"></div>
  <div class="overview-button">Overview</div>
  <div class="editprofile-button">Edit Profile</div>
  <div class="rectangle-219"></div>
  <div class="my-classes">My Classes</div>
  <div class="rectangle-221"></div>
  <div class="rectangle-231"></div>
  <div class="rectangle-220"></div>
  <img class="class-profile" src="../../../assets/images/avatar-1.jpg" />
  <div class="your-class-csc-210-has-started-attendance">
    Your Class CSC210 has started attendance.
  </div>
  <div class="just-now">Just Now</div>
  <img class="class-profile2" src="../../../assets/images/avatar-1.jpg" />
  <div class="your-class-csc-210-has-started-attendance2">
    Your Class CSC210 has started attendance.
  </div>
  <div class="_10-mins-ago">10 mins ago</div>
  <img class="class-profile3" src="c../../../assets/images/avatar-1.jpg" />
  <div class="your-class-csc-210-has-started-attendance3">
    Your Class CSC210 has started attendance.
  </div>
  <div class="_2-hours-ago">2 hours ago</div>
  <img class="class-profile4" src="../../../assets/images/avatar-1.jpg" />
  <div class="your-class-csc-210-has-started-attendance4">
    Your Class CSC210 has started attendance.
  </div>
  <div class="_2-hours-ago2">2 hours ago</div>
  <img class="class-profile5" src="../../../assets/images/avatar-1.jpg" />
  <div class="your-class-csc-210-has-started-attendance5">
    Your Class CSC210 has started attendance.
  </div>
  <div class="_2-hours-ago3">2 hours ago</div>
  <div class="class-notification">Class Notification</div>
  <img class="cover-photo" src="../../../assets/images/FOOTER.png" />
  <img class="profile-pic" src="../../../assets/images/sins.jpg" />
  <div class="student-info">
    <div class="johnny-makasalanan">Johnny Makasalanan</div>
    <div class="bachelor-of-science-in-computer-science">
      Bachelor of Science in Computer Science
    </div>
  </div>
  <div class="class-8">
    <div class="rectangle-4"></div>
    <img class="card-bg-2" src="../../../assets/images/CARD_BG.png" />
    <div class="csc-20">CSC20</div>
    <div class="wed">Wed</div>
    <div class="component-6">
      <div class="rectangle-225"></div>
      <div class="view-attendance">Class Enrolled</div>
    </div>
    <div class="_7-30-am-12-00-pm">7:30 AM - 12:00 PM</div>
    <div class="computer-programming-2">Computer Programming 2</div>
  </div>
  <div class="class-7">
    <div class="rectangle-4"></div>
    <img class="card-bg-2" src="../../../assets/images/CARD_BG.png" />
    <div class="csc-20">CSC20</div>
    <div class="wed">Wed</div>
    <div class="component-6">
      <div class="rectangle-225"></div>
      <div class="view-attendance">Class Enrolled</div>
    </div>
    <div class="_7-30-am-12-00-pm">7:30 AM - 12:00 PM</div>
    <div class="computer-programming-2">Computer Programming 2</div>
  </div>
  <div class="class-6">
    <div class="rectangle-4"></div>
    <img class="card-bg-2" src="../../../assets/images/CARD_BG.png" />
    <div class="csc-20">CSC20</div>
    <div class="wed">Wed</div>
    <div class="component-6">
      <div class="rectangle-225"></div>
      <div class="view-attendance">Class Enrolled</div>
    </div>
    <div class="_7-30-am-12-00-pm">7:30 AM - 12:00 PM</div>
    <div class="computer-programming-2">Computer Programming 2</div>
  </div>
  <div class="class-5">
    <div class="rectangle-4"></div>
    <img class="card-bg-2" src="../../../assets/images/CARD_BG.png" />
    <div class="csc-20">CSC20</div>
    <div class="wed">Wed</div>
    <div class="component-6">
      <div class="rectangle-225"></div>
      <div class="view-attendance">Class Enrolled</div>
    </div>
    <div class="_7-30-am-12-00-pm">7:30 AM - 12:00 PM</div>
    <div class="computer-programming-2">Computer Programming 2</div>
  </div>
  <div class="class-4">
    <div class="rectangle-4"></div>
    <img class="card-bg-2" src="../../../assets/images/CARD_BG.png" />
    <div class="csc-20">CSC20</div>
    <div class="wed">Wed</div>
    <div class="component-6">
      <div class="rectangle-225"></div>
      <div class="view-attendance">Class Enrolled</div>
    </div>
    <div class="_7-30-am-12-00-pm">7:30 AM - 12:00 PM</div>
    <div class="computer-programming-2">Computer Programming 2</div>
  </div>
  <div class="class-3">
    <div class="rectangle-4"></div>
    <img class="card-bg-2" src="../../../assets/images/CARD_BG.png" />
    <div class="csc-20">CSC20</div>
    <div class="wed">Wed</div>
    <div class="component-6">
      <div class="rectangle-225"></div>
      <div class="view-attendance">Class Enrolled</div>
    </div>
    <div class="_7-30-am-12-00-pm">7:30 AM - 12:00 PM</div>
    <div class="computer-programming-2">Computer Programming 2</div>
  </div>
  <div class="class-2">
    <div class="rectangle-4"></div>
    <img class="card-bg-2" src="../../../assets/images/CARD_BG.png" />
    <div class="csc-20">CSC20</div>
    <div class="wed">Wed</div>
    <div class="component-6">
      <div class="rectangle-225"></div>
      <div class="view-attendance">Class Enrolled</div>
    </div>
    <div class="_7-30-am-12-00-pm">7:30 AM - 12:00 PM</div>
    <div class="computer-programming-2">Computer Programming 2</div>
  </div>
  <div class="class-1">
    <div class="rectangle-4"></div>
    <img class="card-bg-2" src="../../../assets/images/CARD_BG.png" />
    <div class="csc-20">CSC20</div>
    <div class="wed">Wed</div>
    <div class="component-6">
      <div class="rectangle-225"></div>
      <div class="view-attendance">Class Enrolled</div>
    </div>
    <div class="_7-30-am-12-00-pm">7:30 AM - 12:00 PM</div>
    <div class="computer-programming-2">Computer Programming 2</div>
  </div>
  <div class="present-card">
    <div class="card"></div>
    <img class="rectangle-233" src="../../../assets/images/CARD_BG.png" />
    <div class="_230">230</div>
    <div class="total-present">Total Present</div>
  </div>
  <div class="absent-card">
    <div class="rectangle-253"></div>
    <img class="rectangle-2332" src="../../../assets/images/CARD_BG.png" />
    <div class="_2302">230</div>
    <div class="total-absent">Total Absent</div>
  </div>
  <div class="rectangle-255"></div>
  <div class="attendance-status-cleared">
    <span>
      <span class="attendance-status-cleared-span">Attendance Status:</span>
      <span class="attendance-status-cleared-span2">Cleared</span>
    </span>
  </div>
  <div class="rectangle-256"></div>
  <img class="rectangle-257" src="../../../assets/images/qr.png" />
</div>
