.class-profile,
.class-profile * {
  box-sizing: border-box;
}
.class-profile {
  background: #ffffff;
  height: 1250px;
  position: relative;
  overflow: hidden;
}
.card-background {
  background: #ffffff;
  border-radius: 24px;
  width: 1560px;
  height: 1209px;
  position: absolute;
  left: 20px;
  top: 9px;
  box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
}
.class-cards {
  position: absolute;
  inset: 0;
}
.my-classes {
  width: 1469px;
  height: 404.8px;
  position: static;
}
.class-8 {
  width: 350px;
  height: 188.99px;
  position: absolute;
  left: 65px;
  top: 783px;
}
.group-4 {
  position: absolute;
  inset: 0;
}
.rectangle-4 {
  background: #ffffff;
  border-radius: 24px;
  width: 95.98%;
  height: 100%;
  position: absolute;
  right: 4.02%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
}
.card-bg-2 {
  border-radius: 20px;
  width: 54.86%;
  height: 87.81%;
  position: absolute;
  right: 42.29%;
  left: 2.86%;
  bottom: 6.82%;
  top: 5.37%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}
.csc-20 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  right: 60.29%;
  left: 6%;
  width: 33.71%;
  bottom: 77.25%;
  top: 12.74%;
  height: 10.01%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.wed {
  color: #154e1a;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 39px;
  font-weight: 700;
  position: absolute;
  right: 3.43%;
  left: 55.14%;
  width: 41.43%;
  bottom: 50.41%;
  top: 37.31%;
  height: 12.28%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.component-6 {
  width: 36.57%;
  height: 12.74%;
  position: absolute;
  right: 0%;
  left: 63.43%;
  bottom: 6.73%;
  top: 80.53%;
}
.rectangle-225 {
  background: linear-gradient(
    90deg,
    rgba(29, 104, 23, 1) 0%,
    rgba(39, 135, 31, 1) 100%
  );
  border-radius: 30px;
  width: 75%;
  height: 100%;
  position: absolute;
  right: 25%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.view-attendance {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 9px;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 7.81%;
  width: 92.19%;
  bottom: 10.71%;
  top: 10.71%;
  height: 78.57%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._7-30-am-12-00-pm {
  color: #154e1a;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 9px;
  font-weight: 700;
  position: absolute;
  right: 2.86%;
  left: 55.71%;
  width: 41.43%;
  bottom: 38.13%;
  top: 49.59%;
  height: 12.28%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.computer-programming-2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 6px;
  font-weight: 700;
  position: absolute;
  right: 60.29%;
  left: 6%;
  width: 33.71%;
  bottom: 70.88%;
  top: 19.11%;
  height: 10.01%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.class-7 {
  width: 350px;
  height: 188.99px;
  position: absolute;
  left: 438px;
  top: 785.58px;
}
.class-6 {
  width: 350px;
  height: 188.99px;
  position: absolute;
  left: 811px;
  top: 785.58px;
}
.class-5 {
  width: 350px;
  height: 188.99px;
  position: absolute;
  left: 1184px;
  top: 783.86px;
}
.class-4 {
  width: 350px;
  height: 188.99px;
  position: absolute;
  left: 65px;
  top: 996.23px;
}
.class-3 {
  width: 350px;
  height: 188.99px;
  position: absolute;
  left: 438px;
  top: 998.81px;
}
.class-2 {
  width: 350px;
  height: 188.99px;
  position: absolute;
  left: 811px;
  top: 998.81px;
}
.class-1 {
  width: 350px;
  height: 188.99px;
  position: absolute;
  left: 1184px;
  top: 997.09px;
}
.my-class-header {
  position: absolute;
  inset: 0;
}
.class-header {
  width: 1452px;
  height: 27px;
  position: static;
}
.my-classes2 {
  color: #154e1a;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 25px;
  font-weight: 700;
  position: absolute;
  left: 74px;
  top: 732px;
  width: 145px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-221 {
  background: linear-gradient(
    90deg,
    rgba(29, 104, 23, 1) 0%,
    rgba(61, 202, 49, 1) 100%
  );
  border-radius: 70px;
  width: 1274px;
  height: 18px;
  position: absolute;
  left: 252px;
  top: 737px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.class-notif {
  position: absolute;
  inset: 0;
}
.class-notif2 {
  width: 727px;
  height: 425px;
  position: static;
}
.rectangle-231 {
  background: #ffffff;
  border-radius: 0px 0px 10px 10px;
  width: 592px;
  height: 373px;
  position: absolute;
  left: 919px;
  top: 333px;
  box-shadow: 6px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-220 {
  background: linear-gradient(
    90deg,
    rgba(39, 135, 31, 1) 0%,
    rgba(61, 202, 49, 1) 100%
  );
  border-radius: 20px 20px 0px 0px;
  width: 592px;
  height: 70px;
  position: absolute;
  left: 919px;
  top: 281px;
  box-shadow: 6px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.class-profile2 {
  width: 47px;
  height: 49px;
  position: absolute;
  left: 971px;
  top: 386px;
  overflow: visible;
  object-fit: cover;
}
.your-class-csc-210-has-started-attendance {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 19px;
  font-weight: 700;
  position: absolute;
  left: 1057px;
  top: 391px;
  width: 587px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.just-now {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 19px;
  font-weight: 400;
  position: absolute;
  left: 1057px;
  top: 414px;
  width: 587px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.class-profile3 {
  width: 47px;
  height: 49px;
  position: absolute;
  left: 971px;
  top: 445px;
  overflow: visible;
  object-fit: cover;
}
.your-class-csc-210-has-started-attendance2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 19px;
  font-weight: 700;
  position: absolute;
  left: 1057px;
  top: 450px;
  width: 587px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._10-mins-ago {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 19px;
  font-weight: 400;
  position: absolute;
  left: 1057px;
  top: 474px;
  width: 587px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.class-profile4 {
  width: 47px;
  height: 49px;
  position: absolute;
  left: 971px;
  top: 504px;
  overflow: visible;
  object-fit: cover;
}
.your-class-csc-210-has-started-attendance3 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 19px;
  font-weight: 700;
  position: absolute;
  left: 1057px;
  top: 508px;
  width: 587px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._2-hours-ago {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 19px;
  font-weight: 400;
  position: absolute;
  left: 1057px;
  top: 529px;
  width: 587px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.class-profile5 {
  width: 48px;
  height: 49px;
  position: absolute;
  left: 973px;
  top: 570px;
  overflow: visible;
  object-fit: cover;
}
.your-class-csc-210-has-started-attendance4 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 19px;
  font-weight: 700;
  position: absolute;
  left: 1059px;
  top: 575px;
  width: 587px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._2-hours-ago2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 19px;
  font-weight: 400;
  position: absolute;
  left: 1059px;
  top: 595px;
  width: 587px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.class-profile6 {
  width: 48px;
  height: 50px;
  position: absolute;
  left: 973px;
  top: 633px;
  overflow: visible;
  object-fit: cover;
}
.your-class-csc-210-has-started-attendance5 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 19px;
  font-weight: 700;
  position: absolute;
  left: 1059px;
  top: 638px;
  width: 587px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._2-hours-ago3 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 19px;
  font-weight: 400;
  position: absolute;
  left: 1059px;
  top: 659px;
  width: 587px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.class-notification {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 25px;
  font-weight: 700;
  position: absolute;
  left: 1068px;
  top: 303px;
  width: 291px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.qr {
  position: absolute;
  inset: 0;
}
.student-qr {
  width: 347px;
  height: 336px;
  position: static;
}
.rectangle-256 {
  background: #ffffff;
  border-radius: 10px;
  width: 347px;
  height: 336px;
  position: absolute;
  left: 518px;
  top: 370px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-257 {
  border-radius: 10px;
  width: 321px;
  height: 311px;
  position: absolute;
  left: 532px;
  top: 380px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}
.status-cards {
  position: absolute;
  inset: 0;
}
.status-cards2 {
  width: 828px;
  height: 399.46px;
  position: static;
}
.present-card {
  width: 405.96px;
  height: 192.67px;
  position: static;
}
.card {
  background: #ffffff;
  border-radius: 15px;
  width: 405.96px;
  height: 192.67px;
  position: absolute;
  left: 66px;
  top: 290px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-233 {
  border-radius: 15px;
  width: 379.29px;
  height: 169.24px;
  position: absolute;
  left: 78.55px;
  top: 301.28px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}
._230 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 37px;
  font-weight: 700;
  position: absolute;
  left: 107.99px;
  top: 386.33px;
  width: 141.29px;
  height: 46.87px;
}
.total-present {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: absolute;
  left: 107.99px;
  top: 423.65px;
  width: 141.29px;
  height: 46.87px;
}
.absent-card {
  width: 405.96px;
  height: 192.67px;
  position: static;
}
.rectangle-253 {
  background: #ffffff;
  border-radius: 15px;
  width: 405.96px;
  height: 192.67px;
  position: absolute;
  left: 66px;
  top: 496.79px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-2332 {
  border-radius: 20px;
  width: 379.29px;
  height: 169.24px;
  position: absolute;
  left: 80.21px;
  top: 508.07px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}
._2302 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 37px;
  font-weight: 700;
  position: absolute;
  left: 109.64px;
  top: 593.12px;
  width: 141.29px;
  height: 46.87px;
}
.total-absent {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: absolute;
  left: 109.64px;
  top: 630.44px;
  width: 141.29px;
  height: 46.87px;
}
.rectangle-255 {
  background: #ffffff;
  border-radius: 10px;
  width: 347px;
  height: 43px;
  position: absolute;
  left: 521px;
  top: 303px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.attendance-status-cleared {
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: absolute;
  left: 577px;
  top: 316px;
  width: 317px;
  height: 28px;
}
.attendance-status-cleared-span {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
}
.attendance-status-cleared-span2 {
  color: #0e8812;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
}
.header {
  position: absolute;
  inset: 0;
}
.profile-header {
  width: 1488px;
  height: 229px;
  position: static;
}
.overview-button {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 25px;
  font-weight: 700;
  position: absolute;
  left: 345px;
  top: 227px;
  width: 127px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.editprofile-button {
  color: #154e1a;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 25px;
  font-weight: 700;
  position: absolute;
  left: 509px;
  top: 227px;
  width: 145px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-219 {
  background: linear-gradient(
    90deg,
    rgba(29, 104, 23, 1) 0%,
    rgba(61, 202, 49, 1) 100%
  );
  border-radius: 70px;
  width: 833px;
  height: 18px;
  position: absolute;
  left: 701px;
  top: 231px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.cover-photo {
  border-radius: 20px;
  width: 1488px;
  height: 186px;
  position: absolute;
  left: 56px;
  top: 25px;
  object-fit: cover;
}
.profile-pic {
  border-radius: 50%;
  width: 211px;
  height: 210px;
  position: absolute;
  left: 105px;
  top: 44px;
  box-shadow: 0px -1px 4px 6px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}
.student-info {
  width: 454px;
  height: 103px;
  position: static;
}
.johnny-makasalanan {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 330px;
  top: 113px;
  width: 453px;
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.bachelor-of-science-in-computer-science {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 331px;
  top: 143px;
  width: 453px;
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
