
<div class="content">
  <div class="card1">
            <div class="card1-content">
              <div class="card1-image" style="background-image: url('../../../assets/images/CLASS_BG.png');">
              </div>
              <form class="card1-form">
                <div class="input">
                  <input type="text" class="input-field" required />
                  <label class="input-label">Class Name:</label>
                </div>
                <div class="input">
                  <input type="text" class="input-field" required />
                  <label class="input-label">Class Schedule:</label>
                </div>
                <div class="input">
                  <select class="input-field" required>
                    <option value=""></option>
                    <option value="10">10 minutes</option>
                    <option value="15">15 minutes</option>
                    <option value="20">20 minutes</option>
                  </select>
                  <label class="input-label">Grace Period:</label>
                </div>
                <div class="action">
                  <button class="action-button">Add Class</button>
                </div>
              </form>
            </div>
  </div>
  <div class="content-main">
    <div class="card-grid">
<article class="card" style="background-image: url('../../../assets/images/CARD_BG.png'); background-size: cover; box-shadow: 5px 5px 8px #a8a8a8, -5px -5px 8px #ffffff; font-weight: bold;">
        <div class="card-header" style="color: white;">
          <div>
            <span><img src="../../../assets/images/classroom.png" style="width: 50px; height: 50px; opacity: 100%;"/></span>
            <h3>Zeplin</h3>
          </div>
          <button (click)="copyTextToClipboard('Zeplin')" title="Copy to Clipboard">
            <img [src]="copiedMap['Zeplin'] ? '../../../assets/images/copied.png' : '../../../assets/images/copy-icon.png'" alt="Copy Icon">
          </button>
          </div>
        <div class="card-body" style="color: white;">
          <p></p>
        </div>
        <div class="card-footer">
          <button class="bn3637 bn37" (click)="navigateToManageStudent()">View Class</button>
        </div>
      </article>
<article class="card" style="background-image: url('../../../assets/images/CARD_BG.png'); background-size: cover; box-shadow: 5px 5px 8px #a8a8a8, -5px -5px 8px #ffffff; font-weight: bold;">
        <div class="card-header" style="color: white;">
          <div>
            <span><img src="../../../assets/images/classroom.png" style="width: 50px; height: 50px; opacity: 100%;"/></span>
            <h3>GitHub</h3>
          </div>
          <button (click)="copyTextToClipboard('GitHub')" title="Copy to Clipboard">
            <img [src]="copiedMap['GitHub'] ? '../../../assets/images/copied.png' : '../../../assets/images/copy-icon.png'" alt="Copy Icon">
          </button>
        </div>
        <div class="card-body" style="color: white;">
          <p></p>
        </div>
        <div class="card-footer">
          <button class="bn3637 bn37" (click)="navigateToManageStudent()">View Class</button>
        </div>
      </article>
<article class="card" style="background-image: url('../../../assets/images/CARD_BG.png'); background-size: cover; box-shadow: 5px 5px 8px #a8a8a8, -5px -5px 8px #ffffff; font-weight: bold;">
        <div class="card-header" style="color: white;">
          <div>
            <span><img src="../../../assets/images/classroom.png" style="width: 50px; height: 50px; opacity: 100%;"/></span>
            <h3>Figma</h3>
          </div>
          <button (click)="copyTextToClipboard('Figma')" title="Copy to Clipboard">
            <img [src]="copiedMap['Figma'] ? '../../../assets/images/copied.png' : '../../../assets/images/copy-icon.png'" alt="Copy Icon">
          </button>
        </div>
        <div class="card-body" style="color: white;">
          <p></p>
        </div>
        <div class="card-footer">
          <button class="bn3637 bn37" (click)="navigateToManageStudent()">View Class</button>
        </div>
      </article>
<article class="card" style="background-image: url('../../../assets/images/CARD_BG.png'); background-size: cover; box-shadow: 5px 5px 8px #a8a8a8, -5px -5px 8px #ffffff; font-weight: bold;">
        <div class="card-header" style="color: white;">
          <div>
            <span><img src="../../../assets/images/classroom.png" style="width: 50px; height: 50px; opacity: 100%;"/></span>
            <h3>Zapier</h3>
          </div>
          <button (click)="copyTextToClipboard('Zapier')" title="Copy to Clipboard">
            <img [src]="copiedMap['Zapier'] ? '../../../assets/images/copied.png' : '../../../assets/images/copy-icon.png'" alt="Copy Icon">
          </button>
        </div>
        <div class="card-body" style="color: white;">
          <p></p>
        </div>
        <div class="card-footer">
          <button class="bn3637 bn37" (click)="navigateToManageStudent()">View Class</button>
        </div>
      </article>
<article class="card" style="background-image: url('../../../assets/images/CARD_BG.png'); background-size: cover; box-shadow: 5px 5px 8px #a8a8a8, -5px -5px 8px #ffffff; font-weight: bold;">
        <div class="card-header" style="color: white;">
          <div>
            <span><img src="../../../assets/images/classroom.png" style="width: 50px; height: 50px; opacity: 100%;"/></span>
            <h3>Notion</h3>
          </div>
          <button (click)="copyTextToClipboard('Notion')" title="Copy to Clipboard">
            <img [src]="copiedMap['Notion'] ? '../../../assets/images/copied.png' : '../../../assets/images/copy-icon.png'" alt="Copy Icon">
          </button>
        </div>
        <div class="card-body" style="color: white;">
          <p></p>
        </div>
        <div class="card-footer">
          <button class="bn3637 bn37" (click)="navigateToManageStudent()">View Class</button>
        </div>
      </article>
      <article class="card" style="background-image: url('../../../assets/images/CARD_BG.png'); background-size: cover; box-shadow: 5px 5px 8px #a8a8a8, -5px -5px 8px #ffffff; font-weight: bold;">
        <div class="card-header" style="color: white;">
          <div>
            <span><img src="../../../assets/images/classroom.png" style="width: 50px; height: 50px; opacity: 100%;"/></span>
            <h3 >Slack</h3>
          </div>
          <button (click)="copyTextToClipboard('Slack')" title="Copy to Clipboard">
            <img [src]="copiedMap['Slack'] ? '../../../assets/images/copied.png' : '../../../assets/images/copy-icon.png'" alt="Copy Icon">
          </button>
        </div>
        <div class="card-body" style="color: white;">
          <p></p>
        </div>
        <div class="card-footer">
          <button class="bn3637 bn37" (click)="navigateToManageStudent()">View Class</button>
        </div>
      </article>
<article class="card" style="background-image: url('../../../assets/images/CARD_BG.png'); background-size: cover; box-shadow: 5px 5px 8px #a8a8a8, -5px -5px 8px #ffffff; font-weight: bold;">
        <div class="card-header" style="color: white;">
          <div>
            <span><img src="../../../assets/images/classroom.png" style="width: 50px; height: 50px; opacity: 100%;"/></span>
            <h3>Zendesk</h3>
          </div>
          <button (click)="copyTextToClipboard('Zendesk')" title="Copy to Clipboard">
            <img [src]="copiedMap['Zendesk'] ? '../../../assets/images/copied.png' : '../../../assets/images/copy-icon.png'" alt="Copy Icon">
          </button>
        </div>
        <div class="card-body" style="color: white;">
          <p></p>
        </div>
        <div class="card-footer">
          <button class="bn3637 bn37" (click)="navigateToManageStudent()">View Class</button>
        </div>
      </article>

<article class="card" style="background-image: url('../../../assets/images/CARD_BG.png'); background-size: cover; box-shadow: 5px 5px 8px #a8a8a8, -5px -5px 8px #ffffff; font-weight: bold;">
        <div class="card-header" style="color: white;">
          <div>
            <span><img src="../../../assets/images/classroom.png" style="width: 50px; height: 50px; opacity: 100%;"/></span>
            <h3>Dropbox</h3>
          </div>
          <button (click)="copyTextToClipboard('Dropbox')" title="Copy to Clipboard">
            <img [src]="copiedMap['Dropbox'] ? '../../../assets/images/copied.png' : '../../../assets/images/copy-icon.png'" alt="Copy Icon">
          </button>
        </div>
        <div class="card-body" style="color: white;">
          <p></p>
        </div>
        <div class="card-footer">
          <button class="bn3637 bn37" (click)="navigateToManageStudent()">View Class</button>
        </div>
      </article>
<article class="card" style="background-image: url('../../../assets/images/CARD_BG.png'); background-size: cover; box-shadow: 5px 5px 8px #a8a8a8, -5px -5px 8px #ffffff; font-weight: bold;">
        <div class="card-header" style="color: white;">
          <div>
            <span><img src="../../../assets/images/classroom.png" style="width: 50px; height: 50px; opacity: 100%;"/></span>
            <h3>Google Drive</h3>
          </div>
          <button (click)="copyTextToClipboard('Google Drive')" title="Copy to Clipboard">
            <img [src]="copiedMap['Google Drive'] ? '../../../assets/images/copied.png' : '../../../assets/images/copy-icon.png'" alt="Copy Icon">
          </button>
        </div>
        <div class="card-body" style="color: white;">
          <p></p>
        </div>
        <div class="card-footer">
          <button class="bn3637 bn37" (click)="navigateToManageStudent()">View Class</button>
        </div>
      </article>
    </div>
    <div class="pagination">
      <button id="prevBtn">Previous</button>
      <span>Page 1 of 1</span>
      <button id="nextBtn">Next</button>
    </div>    
  </div>
</div>