/* Table Styles */

.table-wrapper {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); /* Adjusted shadow */
  border-radius: 10px;
}

.fl-table {
  border-radius: 30px; /* Smaller border radius */
  font-size: 13px; /* Smaller font size */
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td,
.fl-table th {
  text-align: center;
  padding: 6px; /* Smaller padding */
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
}

.fl-table thead th {
  color: #ffffff;
  background: #0f362b;
}

.fl-table thead th:nth-child(odd) {
  background: #0f362b;
}

.fl-table tr:nth-child(even) {
  background: #f8f8f8;
}

/* Responsive */

@media (max-width: 767px) {
  .fl-table {
    font-size: 8px; /* Smaller font size */
  }
  .fl-table td,
  .fl-table th {
    padding: 4px; /* Smaller padding */
    height: 30px; /* Smaller row height */
    font-size: 8px; /* Smaller font size */
  }
}


.bn3637 {
  margin-top: 10px;
  display: inline-flex;
  align-items: flex-end; /* Updated to align to the right */
  justify-content: center;
  padding: 0.3rem 1.5rem; /* Adjusted padding */
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px; /* Adjusted font size */
  text-align: center;
  text-decoration: none;
  color: #fff;
  backface-visibility: hidden;
  border: 0.2rem solid transparent; /* Adjusted border */
  border-radius: 2rem; /* Adjusted border radius */
}

.bn37 {
  border-color: transparent;
  background-color: #fff;
  color: #000;
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}
  
.bn37:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

.bn632-hover {
  width: 50px;
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 30px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn28 {
  background-image: linear-gradient(
    to right,
    #eb3941,
    #f15e64,
    #e14e53,
    #e2373f
  );
  box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
}

.present-box {
  display: inline-block;
  padding: 5px 10px;
  background-color: green;
  color: white;
  border-radius: 5px;
}

.late-box {
  display: inline-block;
  padding: 5px 10px;
  background-color: rgb(184, 127, 23);
  color: white;
  border-radius: 5px;
}

.absent-box {
  display: inline-block;
  padding: 5px 10px;
  background-color: rgb(184, 23, 23);
  color: white;
  border-radius: 5px;
}

.drop-box {
  display: inline-block;
  padding: 5px 10px;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 5px;
}

.pending-box {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #000; /* Change border color and style as needed */
  border-radius: 5px;
}


/* Table Styles */

$bp-maggie: 15em; 
$bp-lisa: 30em;
$bp-bart: 48em;
$bp-marge: 62em;
$bp-homer: 75em;

.responsive-table {
	width: 100%;
  margin-bottom: 1.5em;
  margin-top: 5px;
  border-spacing: 0;
  height: 100px; /* Set the fixed height of the table */
  overflow-y: auto; /* Add vertical scrollbar */
	
	@media (min-width: $bp-bart) {
	  font-size: .9em; 
	}
	
	@media (min-width: $bp-marge) {
	  font-size: 1em; 
	}
	
	thead {
	  // Accessibly hide <thead> on narrow viewports
	  position: absolute;
	  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	  padding: 0;
	  border: 0;
	  height: 1px; 
	  width: 1px; 
	  overflow: hidden;
	  
	  @media (min-width: $bp-bart) {
		// Unhide <thead> on wide viewports
		position: relative;
		clip: auto;
		height: auto;
		width: auto;
		overflow: auto;
	  }
	  
	  th {
		background-color: rgb(27, 65, 18);
		font-weight: normal;
		text-align: center;
		color: white;
		
		&:first-of-type {
		  text-align: left; 
		}
	  }
	}
	
	// Set these items to display: block for narrow viewports
	tbody,
	tr,
	th,
	td {
	  display: block;
	  padding: 0;
	  text-align: left;
	  white-space: normal;
	  font-size: 13px;
	}
	
	tr {   
	  @media (min-width: $bp-bart) {
		// Undo display: block 
		display: table-row; 
	  }
	}
	
	th,
	td {
	  padding: .5em;
	  vertical-align: middle;
	  
	  @media (min-width: $bp-lisa) {
		padding: .75em .5em; 
	  }
	  
	  @media (min-width: $bp-bart) {
		// Undo display: block 
		display: table-cell;
		padding: .5em;
	  }
	  
	  @media (min-width: $bp-marge) {
		padding: .75em .5em; 
	  }
	  
	  @media (min-width: $bp-homer) {
		padding: .75em; 
	  }
	}
	
	caption {
	  margin-bottom: 1em;
	  font-size: 1em;
	  font-weight: bold;
	  text-align: center;
	  
	  @media (min-width: $bp-bart) {
		font-size: 1.5em;
	  }
	}
	
	tfoot {
	  font-size: .8em;
	  font-style: italic;
	  
	  @media (min-width: $bp-marge) {
		font-size: .9em;
	  }
	}
	
	tbody {
	  @media (min-width: $bp-bart) {
		// Undo display: block 
		display: table-row-group; 
	  }
	  
	  tr {
		margin-bottom: 1em;
		
		@media (min-width: $bp-bart) {
		  // Undo display: block 
		  display: table-row;
		  border-width: 1px;
		}
		
		&:last-of-type {
		  margin-bottom: 0; 
		}
		
		&:nth-of-type(even) {
		  @media (min-width: $bp-bart) {
			background-color: rgba(0,0,0,.12);
		  }
		}
	  }
	  
	  th[scope="row"] {
		color: white;
		
		@media (min-width: $bp-lisa) {
		}
		
		@media (min-width: $bp-bart) {
		  background-color: transparent;
		  color: rgba(0,0,0.87);
		  text-align: left;
		}
	  }
	  
	  td {
		text-align: right;
		
		@media (min-width: $bp-bart) {
		  text-align: center; 
		}
		
		&:last-of-type {
		  @media (min-width: $bp-bart) {
		  } 
		}
	  }
	  
	  td[data-type=currency] {
		text-align: right; 
	  }
	  
	  td[data-title]:before {
		content: attr(data-title);
		float: left;
		font-size: .8em;
		color: rgba(0,0,0,.54);
		
		@media (min-width: $bp-lisa) {
		  font-size: .9em; 
		}
		
		@media (min-width: $bp-bart) {
		  // Don’t show data-title labels 
		  content: none; 
		}
	  } 
	}
  }


  /* Styles for the button */
  button {
    padding: 5px 10px;
    background-color: #05361a;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    position: center;
    margin-left: 5px;
    font-size: 14px;
    }
  
    button:hover {
    background-color: #0056b3;
    }

    .popup {
      padding: 5px 10px;
    background-color: #05361a;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    position: center;
    margin-left: 5px;
    font-size: 14px;
    }

    .popup:hover {
      background-color: #0056b3;
      }
  
    #removeButton {
    padding: 5px 10px;
    background-color: #0c130f;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    position: center;
    margin-left: 20px;
    font-size: 14px;
    }
  
    #removeButton:hover {
    background-color: #d12424;
    }
  
    #declineButton {
    padding: 5px 10px;
    background-color: #ce1616;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    position: center;
    margin-left: 5px;
    font-size: 14px; /* Adjusted font size */
    }
  
    #declineButton:hover {
    background-color: #3d0e0e;
    }
  
     /* pagination */
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
	margin-top: -5px;
	margin-bottom: 15px;
  }

  #prevBtn,
  #nextBtn {
    background-color: transparent;
    color: #106335;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
  }

  #prevBtn:hover,
  #nextBtn:hover {
    background-color: #106335;
    color: #fff;
  }

  span {
    margin: 0 10px;
    font-size: 16px;
    font-weight: bold;
  }

  .primary-container {
	text-align: center;
  }

  
.popup-link{
  display:flex;
  flex-wrap:wrap;
}

.popup-link a{
    background: #333;
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    font-size:17px;
    cursor:pointer;
    margin:20px;
    text-decoration:none;
}

.popup-container {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform: scale(1.3);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 17, 17, 0.61);
    display: flex;
    align-items: center;
}
.popup-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}
.popup-content p{
    font-size: 17px;
    padding: 10px;
    line-height: 20px;
}
.popup-content a.close{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background: none;
    padding: 0;
    margin: 0;
    text-decoration:none;
}

.popup-content a.close:hover{
  color:#333;
}

.popup-content span:hover,
.popup-content span:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.popup-container:target{
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.popup-container h3{
  margin:10px;
}


.dropdown-container {
  display: flex;
  justify-content: space-between;
  position: center;
  background-color: #f9f9f9; /* Light background color */
  padding: 20px; /* Add padding for spacing */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

/* Updated styles for dropdown */
.dropdown {
  flex: 1;
  margin-right: 10px;
}

.dropdown select {
  width: 100%;
  padding: 12px; /* Increased padding for better touch experience */
  border: none; /* Remove border for cleaner look */
  border-radius: 8px; /* Rounded corners */
  background-color: #fff; /* White background */
  font-size: 16px;
  appearance: none; /* Remove default dropdown arrow */
  outline: none; /* Remove default focus style */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  transition: box-shadow 0.3s ease; /* Smooth transition for shadow */
}

.dropdown select:hover,
.dropdown select:focus {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add deeper shadow on hover/focus */
}