<body>
  <div class="container">
    <div class="title">Registration</div>
    <div class="content">
      <!-- Back button -->
      <form action="#" enctype="multipart/form-data">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Last Name</span>
            <input type="text" placeholder="Enter your lastname" required>
          </div>
          <div class="input-box">
            <span class="details">First Name</span>
            <input type="text" placeholder="Enter your firstname" required>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" placeholder="Enter your email" required>
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="text" placeholder="Enter your number" required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="password" placeholder="Enter your password" required>
          </div>
          <div class="input-box">
            <span class="details">Gender</span>
            <select name="role" id="role" required>
              <option value="" selected disabled>Select your gender</option>
              <option value="student">Male</option>
              <option value="instructor">Female</option>
            </select>
          </div>
          <div class="input-box">
            <span class="details">Upload Avatar</span>
            <input type="file" accept="image/*" id="avatar" name="avatar" required>
          </div>
          <div class="input-box">
            <span class="details">Role</span>
            <select name="role" id="role" required>
              <option value="" selected disabled>Select your role</option>
              <option value="student">Student</option>
              <option value="instructor">Instructor</option>
            </select>
          </div>
        </div>
    
        <button onclick="window.location.href='/login'" class="back-buttons bn22">&larr; Back</button>
        <a href="/"><button class="bn632-hover bn22">Register</button></a>
      </form>
    </div>
  </div>
</body>
