<!--------------------------->
<body background="../../../assets/images/MAIN_BG.png">
  
  <div class="row">
    <div class="col-xl-4 col-md-6">
      <div
        class="card bg-dark-green dashnum-card text-white overflow-hidden"
        style="background-image: url('../../../assets/images/CARD_BG.png'); background-size: cover"
      >
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="avtar"> </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <span class="text-white d-block fs-1 fw-bold my-2">230 <i class="ti ti-arrow-up-right-circle opacity-50"></i></span>
              <p class="mb-0 opacity-50">Total Present</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-md-6">
      <div
        class="card bg-dark-green dashnum-card text-white overflow-hidden"
        style="background-image: url('../../../assets/images/CARD_BG.png'); background-size: cover"
      >
        <span class="round small"></span>
        <span class="round big"></span>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="avtar"> </div>
            </div>
            <div class="col-auto">
              <ul ngbNav class="nav-tabs nav-pills" #nav="ngbNav" (navChange)="($event)">
                <li class="nav-item" [ngbNavItem]="1">
                  <ng-template ngbNavContent>
                    <div class="row">
                      <div class="col-6">
                        <span class="text-white d-block fs-1 fw-bold my-2">35<i class="ti ti-arrow-up-right-circle opacity-50"></i></span>
                        <p class="mb-0 opacity-50">Total Late</p>
                      </div>
                    </div>
                  </ng-template>
                </li>
              </ul>
            </div>
          </div>
          <div [ngbNavOutlet]="nav"> </div>
        </div>
      </div>
    </div>

    <!-- Inside the existing <div class="col-xl-4 col-md-6"> -->
    <div class="col-xl-4 col-md-6">
      <div
        class="card bg-dark-green dashnum-card text-white overflow-hidden"
        style="background-image: url('../../../assets/images/CARD_BG.png'); background-size: cover"
      >
        <span class="round small"></span>
        <span class="round big"></span>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="avtar"> </div>
            </div>
            <div class="col-auto"> </div>
          </div>
          <span class="text-white d-block fs-1 fw-bold my-2">7 <i class="ti ti-arrow-up-right-circle opacity-50"></i></span>
          <p class="mb-0 opacity-50">Total Absent</p>
        </div>
      </div>
    </div>
  </div>

  <!-- -->

  <div class="row">
    <div class="col-sm-12">
      <div class="dropdown-container">
        <div class="dropdown">
          <label class="container">
            <input type="checkbox" checked="checked" /> All Data
            <div class="checkmark"></div>
          </label>
          <select id="courseDropdown">
            <option value="BSIT">Today</option>
            <option value="BSIT">This Week</option>
            <option value="BSIT">This Month</option>
            <option value="BSIT">This Semester</option>
          </select>
        </div>
        <div class="dropdown">
          <label class="container">
            <input type="checkbox" /> By Class
            <div class=""></div>
          </label>
          <select id="courseDropdown">
            <option value="BSCS">Choose Class</option>
            <option value="BSCS">Programming</option>
            <option value="BSIT">Notion</option>
            <option value="BSIT">Figma</option>
            <option value="BSIT">Slack</option>
            <option value="BSIT">Google Drive</option>
            <option value="BSIT">Facebook</option>
            <option value="BSIT">Instagram</option>
          </select>
        </div>
        <div class="dropdown">
          <label class="container">
            &nbsp;&nbsp;
          </label>
          <select id="courseDropdown">
            <option value="BSCS">All Data</option>
            <option value="BSIT">03-12-24 : 7:00:00 AM</option>
            <option value="BSIT">03-12-24 : 7:00:00 AM</option>
            <option value="BSIT">03-12-24 : 7:00:00 AM</option>
            <option value="BSIT">03-12-24 : 7:00:00 AM</option>
            <option value="BSIT">03-12-24 : 7:00:00 AM</option>
            <option value="BSIT">03-12-24 : 7:00:00 AM</option>
          </select>
        </div>
        <div class="dropdown">
          <label class="container">
            <input type="checkbox" /> Attendance Calendar
            <div class=""></div>
          </label>
          <select id="courseDropdown">
            <option value="BSCS">Choose Date</option>
            <option value="BSCS">February 7, 2024</option>
            <option value="BSIT">February 6, 2024</option>
            <option value="BSIT">February 5, 2024</option>
            <option value="BSIT">February 4, 2024</option>
            <option value="BSIT">February 3, 2024</option>
            <option value="BSIT">February 2, 2024</option>
            <option value="BSIT">February 1, 2024</option>
          </select>
        </div>
        <div class="dropdown-container">
          <input type="text" id="searchInput" placeholder="Class Link">
        </div>
        
        
      </div>
    </div>
  </div>

  <div class="dropdown-container" style="margin-top: 15px;">
    <table class="fl-table">
      <thead>
        <tr>
          <th>ATT #</th>
          <th>SUBJECT</th>
          <th>DATE</th>
          <th>SCHEDULE</th>
          <th>ATT. STARTS AT</th>
          <th>YOUR TIME IN</th>
          <th>STATUS</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Programming</td>
          <td>03-12-2024</td>
          <td>7:30:00 AM</td>
          <td>7:30:42 AM</td>
          <td>7:31:23 AM</td>
          <td>
            <div class="present-box">Present</div>
          </td>
          <td><div class="present-box">Verified</div></td>
          <div class="primary-container">
           <a href="#popup1" class="popup">Send a Reason</a>
          </div>
        </tr>
        <tr>
          <td>2</td>
          <td>Drive</td>
          <td>03-12-2024</td>
          <td>10:00:00 AM</td>
          <td>10:00:12 AM</td>
          <td>10:03:32 AM</td>
          <td>
            <div class="present-box">Present</div>
          </td>
          <td><div class="present-box">Verified</div></td>
          <div class="primary-container">
           <a href="#popup1" class="popup">Send a Reason</a>
          </div>
        </tr>
        <tr>
          <td>3</td>
          <td>C++</td>
          <td>03-12-2024</td>
          <td>12:30:00 PM</td>
          <td>12:30:23 PM</td>
          <td>12:31:22 PM</td>
          <td>
            <div class="present-box">Present</div>
          </td>
          <td><div class="present-box">Verified</div></td>
          <div class="primary-container">
           <a href="#popup1" class="popup">Send a Reason</a>
          </div>
        </tr>
        <tr>
          <td>4</td>
          <td>Figma</td>
          <td>03-12-2024</td>
          <td>2:00:00 PM</td>
          <td>2:30:40 PM</td>
          <td>2:52:51 PM</td>
          <td>
            <div class="late-box">Late</div>
          </td>
          <td><div class="present-box">Verified</div></td>
          <div class="primary-container">
           <a href="#popup1" class="popup">Send a Reason</a>
          </div>
        </tr>
        <tr>
          <td>5</td>
          <td>Database</td>
          <td>03-12-2024</td>
          <td>3:00:00 PM</td>
          <td>3:30:42 PM</td>
          <td>3:32:23 PM</td>
          <td>
            <div class="present-box">Present</div>
          </td>

          <td><div class="present-box">Verified</div></td>
          <div class="primary-container">
           <a href="#popup1" class="popup">Send a Reason</a>
          </div>
        </tr>
        <tr>
          <td>6</td>
          <td>Backend</td>
          <td>03-12-2024</td>
          <td>5:00:00 PM</td>
          <td>5:30:20 PM</td>
          <td>5:33:12 PM</td>
          <td>
            <div class="late-box">Late</div>
          </td>
          <td><div class="present-box">Verified</div></td>
          <div class="primary-container">
           <a href="#popup1" class="popup">Send a Reason</a>
          </div>
        </tr>
        <tr>
          <td>7</td>
          <td>Frontend</td>
          <td>03-12-2024</td>
          <td>7:30:00 PM</td>
          <td>7:30:23 PM</td>
          <td>7:35:12 PM</td>
          <td>
            <div class="present-box">Present</div>
          </td>

          <td><div class="present-box">Verified</div></td>
          <div class="primary-container">
           <a href="#popup1" class="popup">Send a Reason</a>
          </div>
        </tr>
        <tr>
          <td>8</td>
          <td>API Integ</td>
          <td>03-12-2024</td>
          <td>8:30:00 PM</td>
          <td>--</td>
          <td>--</td>
          <td>
            <div class="drop-box">Pending</div>
          </td>

          <td><div class="drop-box">Pending</div></td>
          <div class="primary-container">
           <a href="#popup1" class="popup">Send a Reason</a>
          </div>
        </tr>
        <tr>
          <td>15</td>
          <td>Javascript</td>
          <td>03-12-2024</td>
          <td>9:30:00 PM</td>
          <td>--</td>
          <td>--</td>
          <td>
            <div class="drop-box">Pending</div>
          </td>

          <td><div class="drop-box">Pending</div></td>
          <div class="primary-container">
           <a href="#popup1" class="popup">Send a Reason</a>
          </div>
        </tr>
        <tr>
          <td>16</td>
          <td>HTML</td>
          <td>03-12-2024</td>
          <td>10:30:00 PM</td>
          <td>--</td>
          <td>--</td>
          <td>
            <div class="drop-box">Pending</div>
          </td>
          <td><div class="drop-box">Pending</div></td>
          <div class="primary-container">
           <a href="#popup1" class="popup">Send a Reason</a>
          </div>
        </tr>
        <tr>
          <td>17</td>
          <td>C#</td>
          <td>03-12-2024</td>
          <td>11:30:00 PM</td>
          <td>--</td>
          <td>--</td>
          <td>
            <div class="drop-box">Pending</div>
          </td>
          <td><div class="drop-box">Pending</div></td>
          <div class="primary-container">
            <a href="#popup1" class="popup">Send a Reason</a>
          </div>
        </tr>
      </tbody></table
    >
  </div>

  <div id="popup1" class="popup-container" style="top: -150px;">
      
    <div class="container card message-container " style="box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.46);
    border-radius: 10px;
    margin-bottom: 2em;
    padding: 2em;
    background: rgba(247, 247, 247, 0.95);
    top: -450px;">
      <a href="#" class="close" style="font-size: 24px; font-weight: bold; position: absolute; top: 10px; right: 10px; cursor: pointer; color: black;">&times;</a>
      <h1 class="message-title">Reason of Absence</h1>
    
      <form action="mailto:email@email.com" method="post" enctype="text/plain">
    
        <label for="subject" class="subject">Subject</label>
        <input type="text" name="subject" maxlength="45">

        <p id="break"></p>
        <label for="message" class="message">Reason</label>
        <textarea name="message" cols="30" rows="7" placeholder="Your reason here" required maxlength="500"></textarea>
    
        <label for="file-upload" class="file-upload-label">
          Images
      </label>
      <span class="dragBox">
        Upload or Drag Images here
      </span>
    
    
    
        <p class="button-container">
          <input class="popup" type="submit" value="Submit Reason" style="width: 500px;">
        </p>
      </form>
    </div>
</div>